<div class="container">

  <img class="cover" src="<%= @game.image %>" >
  <h2><%= @game.title %></h2>
  <p><%= @game.description%></p>
  <% if @game.franchise %>
    <p> This game is part of the <%= @game.franchise %>.</p>
  <% end %>
  <p> Originally released on <%= @game.platform %> </p>

  <form id="add-game" action="/game/new" method="POST">
    <input type="submit" value="Add to my collection!">
  </form>
</div>
